@import "./main/tableEmployee";
@import "./main/formInfo";
@import "./main/menuBtn";
@import "./main/menuBar";
@import "./main/checkMenu";
@import "./main/admin";
@import "./main/modal";

main {
	display: flex;
	position: relative;
	width: 100%;
	min-height: 87%;
}
