@import "tableEmployee";
@import "formInfo";
@import "menuBtn";
@import "menuBar";
@import "checkMenu";
@import "admin";
@import "modal";
main {
	display: flex;
	position: relative;
	width: 100%;
	min-height: 87%;
}
